[package]
name = "sassy"
version = "0.1.0"
edition = "2024"

[lib]
name = "sassy"
crate-type = ["cdylib", "rlib"]

[profile.release]
incremental = true
opt-level = 3
debug = true

[[bin]]
name = 'sassy'
path = 'bin/main.rs'


[dependencies]
arrayvec = "0.7.6"
criterion = "0.6.0"
rand = "0.9.0"
pa-types.git = "https://github.com/pairwise-alignment/pa-types"
clap = { version = "4.5.37", features = ["derive"] }
log = "0.4.27"
env_logger = "0.11.8"
num_cpus = "1.16.0"
needletail = "0.6.3"
once_cell = "1.19.0"
thread-id = "5.0.0"

pyo3 = { version = "0.25", features = ["extension-module"], optional = true }

[features]
avx512 = []
python = ["pyo3"]
# default = ["avx512"]
default = ["python"]

[[bench]]
name = "bench"
harness = false

[dev-dependencies]
edlib_rs.git = "https://github.com/pairwise-alignment/edlib-rs"
toml = "0.9"
serde = { version = "1.0", features = ["derive"] }
once_cell = "1.19.0"
tempfile = "*"

[workspace]
members = [
    ".",
    "benchmarks"
]
